footer {
  position: relative;
  background-color: var(--primary);
  padding: var(--space-4) 0;
  color: #fff;
  
  a {
    color: #fff;
  }

  .title {
    margin-bottom: var(--space-1);
    text-transform: uppercase;
    font-size: var(--fs-de);
    font-weight: var(--fw-light);
    color: #fff;
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;

      li {
        margin: 0;
        padding: 0;
        a {
          font-size: var(--fs-sm);
        }
      }
    }
  }

  .rs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: var(--space-2);
    font-size: var(--fs-lg);

    a {
      &:hover, &:focus {
        text-shadow: 0 0 4px var(--secondary);
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}