.section-services {
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-3);

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  a.service {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-2);
    color: var(--secondary);
    
    @media (min-width: 768px) {
      width: 200px;
    }

    h2 {
      color: var(--text-color);
      font-weight: var(--fw-bold);
      font-size: var(--fz-de);
    }

    [class*="fa-"] {
      font-size: 4rem;
      transition: var(--transition-base);
    }

    &:hover, &:focus {
      text-decoration: none;
      transform: scale(1.05);
      
      [class*="fa-"] {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        transform: rotate(4deg);
      }
    }
  }
}