:root {
  font-family: var(--ff-sans);
  font-size: var(--fs-de);
  font-weight: var(--fw-normal);
  line-height: var(--lh-de);

  /* color-scheme: light dark; */
  background-color: var(--bg-color);
  color: var(--text-color);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--lh-sm);
  margin: 0;
}

h1, h2, h3 {
  color: var(--primary);
  font-weight: var(--fw-light);
}

h4, h5, h6 {
  color: var(--text-color);
  font-weight: var(--fw-bold);
}

p {
  margin: 0;
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: var(--transition-base);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* responsive image by default */
img {
  max-width: 100%;
  height: auto;
}

article, section {
  > * + * {
    margin-top: var(--space-3);
  }
}