.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  padding: var(--space-3) 0;
  margin: 0 auto;

  &-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
  }

  .required label {
    &:after {
      margin-left: var(--space-1);
      content: "*";
      font-weight: bold;
      color: var(--error-color);
    }
  }

  input, textarea {
    background-color: #ccc;
    border: 0;
    transition: var(--transition-base);
    padding: var(--space-2);
    font-size: var(--fs-sm);
    width: 100%;

    &:focus {
      background-color: #ddd;
      outline: none;
    }

    @media (min-width: 480px) {
      flex: 1;
    }
  }

  textarea {
    resize: vertical;
    min-height: 8rem;
  }

  button {
    display: inline-block;
    background-color: var(--primary);
    color: #fff;
    padding: var(--space-2) var(--space-3);
    border: none;
    font-size: var(--fs-sm);
    cursor: pointer;
    width: auto;
    transition: var(--transition-base);

    &:hover {
      background-color: var(--primary-light);
    }
  }
}