.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-p-x);

  @media (min-width: 576px) {
    width: 540px;
  }

  @media (min-width: 768px) {
    width: 720px;
  }

  @media (min-width: 992px) {
    width: 960px;
  }

  @media (min-width: 1200px) {
    width: 1140px;
  }

  @media (min-width: 1400px) {
    width: 1320px;
  }
}


/* gestion row avec sidebar */
.row {
  display: flex;
  gap: var(--space-4);

  aside {
    flex: 1;

    & + * {
      order: -1;
      flex: 2 0;
    }
  }
}
