.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-p-x);

  @media (min-width: 576px) {
    width: 540px;
  }

  @media (min-width: 768px) {
    width: 720px;
  }

  @media (min-width: 992px) {
    width: 960px;
  }

  @media (min-width: 1200px) {
    width: 1140px;
  }

  @media (min-width: 1400px) {
    width: 1320px;
  }
}


/* gestion row avec sidebar */
.row {
  display: flex;
  gap: var(--space-4);
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  aside {
    background-color: #f00;
    flex: 1;

    & + * {
      background-color: #00f;
      order: -1;

      @media (min-width: 768px) {
        flex: 2 0;
      }
    }
  }
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: var(--fs-sm);
}

.text-right {
  text-align: right;
}

.title {
  font-size: var(--fs-xl);
  line-height: 1;
  margin-bottom: var(--space-3);

  aside & {
    font-size: var(--fs-lg);
  }
}