.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-p-x);

  @media (min-width: 576px) {
    width: 540px;
  }

  @media (min-width: 768px) {
    width: 720px;
  }

  @media (min-width: 992px) {
    width: 960px;
  }

  @media (min-width: 1200px) {
    width: 1140px;
  }

  @media (min-width: 1400px) {
    width: 1320px;
  }
}


/* gestion row avec sidebar */
.row {
  display: flex;
  gap: var(--space-4);
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  aside {

    @media (min-width: 768px) {
      flex: 1;

      border-left: 1px solid #888;
      padding-left: var(--space-3);
      margin-top: var(--space-4);
      margin-bottom: var(--space-4);

      [class*="section-"]:first-child {
        padding-top: 0;
      }
    }

    & + * {
      order: -1;

      @media (min-width: 768px) {
        flex: 2 0;
      }
    }
  }
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: var(--fs-sm);
}

.text-right {
  text-align: right;
}

.title {
  font-size: var(--fs-xl);
  line-height: 1;
  margin-bottom: var(--space-3);

  aside & {
    font-size: var(--fs-lg);
  }
}

.cards {
  display: grid;
  gap: var(--space-3);
  grid-template-columns: repeat(1, 1fr);
  
  @media (min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  /* on passe en flex vertical dans une sidebar */
  aside & {
    display: flex;
    flex-direction: column;
  }
}

.card {
  transition: var(--transition-base);

  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  
  .media {
    width: 100%;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: var(--transition-base);
    }
  }

  &:hover {
    text-decoration: none;

    img {
      transform: scale(1.01);
    }
  }

  .card-title {
    margin: 0;
    font-size: var(--fs-de);
    font-weight: var(--fw-bold);
    color: var(--text-color);
  }

  .card-text {
    font-size: var(--fs-sm);
    line-height: var(--lh-de);
    color: var(--text-color);
  }
}