@import "./style/_fonts.css";
@import "./style/_variables.css";
@import "./style/_utilities.css";
@import "./style/_elements.css";

/* import alls layouts elements */
@import "./style/layout/_header.css";
@import "./style/layout/_footer.css";
@import "./style/layout/_section-hero.css";
@import "./style/layout/_section-parallax.css";

/* zone de contenu */
.content {
  display: flex;
  flex-direction: column;
  gap: var(--sections-sep-gap);
}

[class*="section-"] {
  padding-top: var(--sections-p-y);
  padding-bottom: var(--sections-p-y);
}
