@import "./style/_fonts.css";
@import "./style/_variables.css";
@import "./style/_utilities.css";
@import "./style/_elements.css";
@import "./style/_form.css";

/* import alls layouts elements */
@import "./style/layout/_header.css";
@import "./style/layout/_footer.css";
@import "./style/layout/_section-hero.css";
@import "./style/layout/_section-parallax.css";
@import "./style/layout/_section-services.css";

/* zone de contenu */
.content {
}

[class*="section-"] {
  padding-top: var(--sections-p-y);
  padding-bottom: var(--sections-p-y);

  & + [class*="section-"] {
    margin-top: var(--sections-margin-top);
  }
}
